<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Ahli United Bank, Branch Application">
    <meta name="author" content="Kuwait IT Team">
    <title>Ahli United Bank, Kuwait </title>
    <link rel="apple-touch-icon" sizes="57x57" th:href="@{/assets/favicon/favicon-32x32.png}">
    <link rel="apple-touch-icon" sizes="60x60" th:href="@{/assets/favicon/favicon-32x32.png}">
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{/assets/favicon/favicon-32x32.png}">
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/assets/favicon/favicon-32x32.png}">
    <link rel="apple-touch-icon" sizes="114x114" th:href="@{/assets/favicon/favicon-32x32.png}">
    <link rel="apple-touch-icon" sizes="120x120" th:href="@{/assets/favicon/favicon-32x32.png}">
    <link rel="apple-touch-icon" sizes="144x144" th:href="@{/assets/favicon/favicon-32x32.png}">
    <link rel="apple-touch-icon" sizes="152x152" th:href="@{/assets/favicon/favicon-32x32.png}">
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/assets/favicon/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="192x192" th:href="@{/assets/favicon/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/assets/favicon/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="96x96" th:href="@{/assets/favicon/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/favicon/favicon-16x16.png}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <!-- <meta name="msapplication-TileImage" content="@{/assets/favicon/ms-icon-144x144.png}"> -->
    <meta name="theme-color" content="#ffffff">
    <!-- Main styles for this application-->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">

    <link th:rel="stylesheet" th:href="@{/css/jquery.steps.css} "/>
</head>
 <body class="c-app cover-image" >
    <div class="c-wrapper c-fixed-components">
      <div class="container-fluid">
		    <div class="row justify-content-center">
		        <div class="col-12 col-xs-12 col-sm-11 col-lg-10 text-center" style="position: relative;">
		            <div class="logoAubk">
		                <img th:src="@{/assets/img/aub_logo.png}">
		            </div>
		        </div>
		    </div>
	   </div>
     <div class="c-body">
        
